name: Build
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        os: [windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Cake Action
      uses: ecampidoglio/cake-action@master
      with:
        target: CI
